* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    font-family: 'Quicksand', sans-serif;
}
.container {
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
}
.box {
    width: 100%;
}
body {
    background-color: #FBFBFB;
}
header {
    background-color: #fbfbfb;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.nameplate {
    text-align: left;
    position: relative;
    background-color: #fbfbfb;
    font-size: 2em;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    /* this is an alternative to box sizing for ensuring the boxes go inline */
}
p {
    margin: 10px;
    color: #fbfbfb;
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    word-wrap: break-word;
}
.lightertext {
    color: hsla(212, 80%, 42%, 0.45);
    font-family: none;
    font-size: 1.2em;
    margin-left: 0;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}
/* the above margin applies to all p elements and heeps them 10 px from the edge of the box */

h1 {
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    color: #843534;
}
h2 {
    font-family: 'Quicksand', sans-serif;
    color: #843534;
}
h3 {
    text-transform: none;
    font-family: 'Quicksand', sans-serif;
    border: 10px;
    color: #843534;
}
h4 {
    text-transform: none;
    font-family: 'Quicksand', sans-serif;
    border: 10px;
    color: #843534;
}
h5 {} hr {
    width: 100%;
    color: hsla(212, 80%, 42%, 0.29);
    background-color: hsla(212, 80%, 42%, 0.29);
    height: 5px;
}
.tag-line {
    position: absolute;
    top: 15px;
    z-index: 2;
    width: 40%;
    max-width: 414px;
    min-width: 320px;
    overflow: hidden;
    color: #fbfbfb;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Great Vibes', cursive;
}
.logo {
    position: relative;
    z-index: 2;
    max-width: 75px;
    min-width: 75px;
    width: 40%;
    overflow: hidden;
    color: #fbfbfb;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.about-text {
    border: 1px;
    border-color: hsla(212, 80%, 42%, 0.29);
    border-style: solid;
    margin: 2px;
}
@media screen and (max-width: 356px) {
    h3 {
        font-size: 16px;
        line-height: 1.2em;
    }
    h4 {
        font-size: small;
        line-height: 1.1em;
    }
    .nameplate {
        text-align: right;
    }
}
@media screen and (min-width: 374px) {
    h4 {
        font-size: small;
    }
    .nameplate {
        text-align: right;
        margin-left: 40px;
    }
    p {
        font-size: none;
    }
}
@media screen and (min-width: 500px) {
    h3 {
        font-size: 2em;
        line-height: 1.2em;
    }
    h4 {
        font-size: medium;
        line-height: 3.1em;
    }
    .nameplate {
        text-align: right;
        margin-left: 50px;
    }
    .logo {
        top: 18px;
        max-width: 250px;
    }
    p {
        font-size: 3em;
    }
}
@media screen and (min-width: 907px) {
    body {
        max-width: 907px;
        margin-left: auto;
        margin-right: auto;
    }
    .tag-line {
        max-width: 800px;
        min-width: 600px;
        font-size: 2em;
        line-height: 3em;
    }
    @media screen and (min-width: 719px) {
        header {
            order: -2
        }
        .logo {
            order: -1;
            max-width: 200px;
            max-height: 200px;
        }
        .nameplate {
            order: 2;
            margin: auto;
            left: 0;
            right: 0;
            text-align: center;
        }
        .about-text {
            order: 3;
        }
        .hr {
            order: 4;
        }
        .intro {
            order: 5;
        }
        .projects {
            order: 6;
            width: 100%;
        }
        a {
            font-size: 20px;
        }